\Python\ENV\
\Python\__pycache__\
\Python\Login\__pycache__\
node_modules/
logs/
lib-cov
*.seed
*.log
*.dat
*.idea
*.out
*.pid
*.pyc
*.gz
.DS_Store
dump.rdb
npm-debug.log
logs
build
.DS_Store
thumbs.db
.idea/
.features/~
.project
spec/__pycache__
images
properties
lib/**/.idea
*.xml
*.coverage
pythontidy*
features/reports/*
workspace.xml
